<!DOCTYPE html>
<html>
  <head>
    <h1>All Recipes</h1>
  </head>
  <body>
    <% @recipes.each do |recipe| %>
        <ol>
          <li><a href="recipes/<%recipe.id%>"<%= recipe.name %></li>
          
        </ol>
          
  </body>
</html>