<!DOCTYPE html>
<html>
  <head>
    <h1>All Recipes</h1>
  </head>
  <body>
    <ol>
      <% @recipes.each do |recipe| %>
          <li><%=recipe.name%></li>
      <% end %>
    </ol>
  </body>
</html>