<!DOCTYPE html>
<html>
  <head>
    <h1>Create a New Recipe</h1>
  </head>
  <body>
    <form>
      <input type='text' id='' name=''>
      <input type='submit' value='Create Recipe'>
    </form>
  </body>
</html>