<!DOCTYPE html>
<html>
  <head>
    <h1>Create a New Recipe</h1>
  </head>
  <body>
    <form>
      <label for='name'><input type='text' id='' name=''></label>
      <label for='ingredients'><input type='text' id='' name=''></label>
      <label for='cook_time'><input type='text' id='' name=''></label>
      <input type='submit' value='Create Recipe'>
    </form>
  </body>
</html>